:root {
    --font-family: Tahoma;
    --font-size: 32px;
    --space-unit: 4px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
}

button {
    background: linear-gradient(135deg, #f5f5f5, #e0e0e0);
    border: 1px solid #ccc;
    border-radius: calc(var(--space-unit) * 2);
    padding: calc(var(--space-unit) * 2) calc(var(--space-unit) * 3);
    font-family: var(--font-family);
    font-size: calc(var(--font-size) * 0.5);
    cursor: pointer;
    text-align: center;
    box-shadow: 0 calc(var(--space-unit) * 0.5) calc(var(--space-unit) * 1)
        rgba(0, 0, 0, 0.1);
    transition:
        background-color 0.3s,
        box-shadow 0.3s;
}

.layout {
    display: flex;
    gap: var(--space-unit);
}

.main {
    flex: 0 0 70%;
}

.side {
    flex: 0 0 30%;
}

.action-button {
    display: flex;
    gap: calc(var(--space-unit) * 2);
    margin: calc(var(--space-unit) * 2);
    button {
        flex: 1;
    }
}

#new-chess {
    text-align: center;
}

#position-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--space-unit) * 2);
    margin: calc(var(--space-unit) * 2);
    justify-content: space-between;
}

#position-buttons button {
    flex: 1;
}

#position-buttons button:hover {
    background: linear-gradient(135deg, #e0e0e0, #d6d6d6);
    box-shadow: 0 calc(var(--space-unit) * 1) calc(var(--space-unit) * 2)
        rgba(0, 0, 0, 0.2);
}

h1 {
    background-color: #0077b5; /* LinkedIn blue */
    border-radius: calc(var(--space-unit) * 2);
    margin: calc(var(--space-unit) * 4);
    padding: calc(var(--space-unit) * 4);
    font-size: var(--font-size);
    text-align: center;
    color: white;
}

.container {
    width: 900px;
    margin: auto;
}

.results,
.label {
    text-align: center;
    background-color: beige;
    border-radius: calc(var(--space-unit) * 2);
    margin: calc(var(--space-unit) * 4);
    padding: calc(var(--space-unit) * 4);
}

@media (min-width: 600px) {
    :root {
        --font-size: 24px;
    }
}

@media (min-width: 900px) {
    :root {
        --font-size: 32px;
    }
}
