:root {
    --font-family: Tahoma;
    --font-size: 32px;
    --font-color: #000;
    --square-size: 80px;
    --board-size: calc(var(--square-size) * 8);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
}

h1 {
    background-color: beige;
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
    font-size: var(--font-size);
    text-align: center;
}



.action,
.openings {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}





.results,
.label {
    text-align: center;
    background-color: beige;
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
    display: none;
}

.random-position {
    color: red;
    font-weight: 600;
}

.anti-chess {
    padding: 16px;
    color: red;
}



@media (min-width: 375px) {
    .results,
    .label {
        display: block;
    }
}

@media (min-width: 600px) {
    :root {
        --font-size: 24px;
    }
}

@media (min-width: 900px) {
    :root {
        --font-size: 32px;
    }
}
